*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.rosa{
    height: 80px;
    background-color: rgb(241, 135, 170);
    margin: 20px;
}

.beige{
    height: 200px;
    background-color: peru;
    margin: 20px;
}

.blue{
    height: 550px;
    background-color: blue;
    margin: 20px;
}

.viola{
    height: 80px;
    background-color: rgb(95, 5, 95);
    margin: 20px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.top{
    height: 100px;
    background-color: rgb(56, 235, 241);
}

.left{
    width: 24.5%;
    height: 400px;
    margin-top: 25px;
    background-color: rgb(56, 235, 241);
    float: left;
}

.center{
    width: 49%;
    height: 400px;
    margin: 25px 1%;
    background-color: rgb(56, 235, 241);
    float: left;
}

.right{
    width: 24.5%;
    height: 400px;
    margin: 25px 0;
    background-color: rgb(56, 235, 241);
    float: right;
}

